@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "nippo";
  src: url("/fonts/nippo/Nippo-Regular.woff2") format("woff2"),
      url("/fonts/nippo/Nippo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "nippo-light";
  src: url("/fonts/nippo/Nippo-Light.woff2") format("woff2"),
      url("/fonts/nippo/Nippo-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "comico";
  src: url("/fonts/comico/Comico-Regular.woff2") format("woff2"),
      url("/fonts/comico/Comico-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bevellier";
  src: url("/fonts/bevellier/Bevellier-Regular.woff2") format("woff2"),
      url("/fonts/bevellier/Bevellier-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "array";
  src: url("/fonts/array/Array-Regular.woff2") format("woff2"),
      url("/fonts/array/Array-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white/50;
  }
  *::selection {
    color: white;
    background-color: black
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .twinkling {
    @apply h-[20px] -hue-rotate-180 shrink-0 grayscale brightness-50  absolute animate-pulse z-[-100]
  }
}